{%  load static %}
<!DOCTYPE html>
<html>
<head>


    <title> Trump Said What?!? </title>
</head>
<body>
 <!-- Main body of webpage -->
    <div class="container" style="margin-bottom: 15px;">
        <h2>Trump Said:</h2>

        {% for quote in chosen %}
        <li>{{ quote.quote }}</li>
        {% endfor %}

        <button type="submit" class="btn btn-primary"
                        style="margin-top: 10px;">Another</button>

        </div>
    </div>
</body>
</html>